*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    width: 400px;
    height: 800px;
    background: url('images/bg1.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: white;
    text-align: center;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
}

.container{
    position: relative;
    top: 20px;
    left: 50px;
    width: 300px;
    height: 75px;
    background: #09324c;
    overflow: hidden;
    border-radius: 18px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    transition: 0.5s ease-out;
}

.currentEtheriumPrice {
    color: rgb(175, 67, 202);
    text-align: center;
    margin-top: 20px;
}

.currentEtheriumPrice:hover {
    cursor: pointer;
    text-decoration: underline;
}

.currentBitcoinPrice {
    color:rgb(232, 225, 153);
    text-align: center;
    margin-top: 20px;
}

.currentBitcoinPrice:hover {
    cursor: pointer;
    text-decoration: underline;
}

img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.fearGreedIndex {
    color: white;
    text-align: center;
    margin-top: 10px;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding-right: 10px;
    font-size: 12px;
}

#footer p {
    margin: 0;
    position: absolute;
    top: 15px;
    transform: translateY(-50%);
    white-space: nowrap;
    animation: move 5s linear infinite;
}

/* Time moves from left to right */
@keyframes move {
    0% {
        opacity: 1;
        left: -100%;
    }
    100% {
        opacity: 1;
        left: 100%;
    }
}

#footer span {
    font-weight: bold;
    margin: 0 5px;
}

#time {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* .fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
} */